<?xml version="1.0"?>
<connectionStrings>
  <clear/>
  <add name="DragonNewsEntities" connectionString="metadata=res://*/News.csdl|res://*/News.ssdl|res://*/News.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DRAGON;initial catalog=DragonNews;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>

