<?xml version="1.0"?>
<connectionStrings>
  <clear/>
  <add name="DragonNewsEntities" connectionString="metadata=res://*/News.csdl|res://*/News.ssdl|res://*/News.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dragonwriterpro.cq7p4ywyoxcg.ap-southeast-1.rds.amazonaws.com,1433;initial catalog=DragonNews;persist security info=True;user id=sa;password=1amNothing;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>

