<?xml version="1.0"?>
<connectionStrings>
  <clear/>
  <add name="DragonNewsEntities" connectionString="metadata=res://*/DragonNews.csdl|res://*/DragonNews.ssdl|res://*/DragonNews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DRAGON;initial catalog=DragonNews;persist security info=True;user id=sa;password=123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>

